<div class="row" style="margin-top: 60px">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title-box">
                    <h3>Tests</h3>
                    <span>Tests activity</span>
                </div>
            </div>
            <div class="panel-body panel-body-table">

                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Category</th>
                                <th>Subcategory</th>
                                <th>Time</th>
                                <th>Questions No.</th>
                                <th>Visits</th>
                                <th>Avg. Score</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="test in tests">
                                <td width="30%">
                                    <strong>
                                        <span>
                                            {{test.Name}}
                                            <a ng-href="#/test-details/{{test.Id}}" title="Test Details"><i class="glyphicon glyphicon-eye-open"></i></a>
                                            <a ng-href="#/edit-test/{{test.Id}}" ng-if="test.Visits == 0" title="Edit test"><i class="glyphicon glyphicon-edit"></i></a>
                                            <a ng-href="#/edit-test/{{test.Id}}/new-with-template" ng-if="test.Visits > 0" title="New test with template"><i class="glyphicon glyphicon-plus-sign"></i></a>
                                        </span>
                                    </strong>
                                </td>
                                <td>{{test.Category.Name}}</td>
                                <td>{{test.Subcategory.Name}}</td>
                                <td>{{test.Time}}</td>
                                <th>{{test.QuestionsNo}}</th>
                                <th>{{test.Visits}}</th>
                                <td>{{test.AvgScore}}</td>
                                <td><i class="glyphicon glyphicon-trash cursor-pointer" ng-click="removeTest(test)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="widget widget-info widget-padding-sm">
            <div class="widget-big-int plugin-clock">{{currentTime}}</div>
            <div class="widget-subtitle plugin-date">{{currentDate}}</div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="widget widget-default widget-item-icon">
            <div class="widget-item-left">
                <span class="fa fa-user"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">{{totalVisitorsNo}}</div>
                <div class="widget-title">Accessed tests</div>
            </div>
        </div>
    </div>


</div>