<div class="row">
    <div class="col-md-12">

        <form class="form-horizontal" id="testForm" name="testForm">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>New</strong> Test</h3>
                </div>
                <div class="panel-body">
                    <p>
                        A test must have at least 5 questions and each question must have at least 3 possible answers. A question can
                        have one or multiple answers and you should specify it when creating the question. Please check the correct answers before
                        saving the test.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Test Title</label>
                        <div class="col-md-6 col-xs-12" ng-class="{'has-error': !test.Name }">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" ng-model="test.Name" required/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Test Time (min)</label>
                        <div class="col-md-3 col-xs-12" ng-class="{'has-error': !test.Time }">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="number" class="form-control" ng-model="test.Time" min="1" required/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-repeat="question in test.questions">
                        <label class="col-md-3 col-xs-12 control-label">Question {{$index + 1}}</label>
                        <div class="col-md-6 col-xs-12" ng-class="{'has-error': !question.Name }">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" ng-model="question.Name" required/>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12" ng-repeat="answer in question.answers track by $index" ng-if="question.qType === 1">
                            <label class="col-md-3 col-xs-12 control-label">{{answersIndexes[$index]}}.</label>
                            <div class="col-md-9 col-xs-12">
                                <label class="check" style="display: inline-flex;" ng-class="{'has-error': !answer.answer }">
                                    <input type="radio" class="pick-answer" ng-model="$parent.correct" name="correct" value="{{answer.correct}}"/>
                                    <input type="text" class="form-control" ng-model="answer.answer" required/>
                                </label>
                                <i class="glyphicon glyphicon-trash" ng-if="question.answers.length > 3"
                                   ng-click="removeAnswer(question, $index)">
                                </i>
                                <button class="btn btn-primary" ng-if="$last && question.answers.length < answersIndexes.length"
                                        ng-click="addAnswer(question)">
                                    [ + ]
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12" ng-repeat="answer in question.answers track by $index" ng-if="question.qType === 2">
                            <label class="col-md-3 col-xs-12 control-label">{{answersIndexes[$index]}}.</label>
                            <div class="col-md-9 col-xs-12">
                                <label class="check" style="display: inline-flex;" ng-class="{'has-error': !answer.answer }">
                                    <input type="checkbox" class="pick-answer" ng-model="answer.correct"/>
                                    <input type="text" class="form-control" ng-model="answer.answer" required/>
                                </label>
                                <i class="glyphicon glyphicon-trash" ng-if="question.answers.length > 3"
                                   ng-click="removeAnswer(question, $index)">
                                </i>
                                <button class="btn btn-primary" ng-if="$last && question.answers.length < answersIndexes.length"
                                        ng-click="addAnswer(question)">
                                    [ + ]
                                </button>
                            </div>

                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Question Type</label>
                        <div class="col-md-3 col-xs-12" ng-class="{'has-error': !selectedQType }">
                            <select class="form-control select"
                                    ng-options="qType.Name for qType in qTypesList"
                                    ng-model="selectedQType" required>
                            </select>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <button class="btn btn-primary" ng-disabled="!selectedQType" ng-click="addQuestion()">[ + ]</button>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary pull-right" ng-disabled="testForm.$invalid || test.questions.length < 3">Save Test</button>
                </div>
            </div>
        </form>

    </div>
</div>                   