<div class="row">
    <div class="col-md-12">

        <form class="form-horizontal" id="testForm" name="testForm">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>New</strong> Test</h3>
                </div>
                <div class="panel-body">
                    <p>
                        A test must have at least 5 questions and each question must have at least 3 possible answers. A question can
                        have one or multiple answers and you should specify it when creating the question. Please check the correct answers before
                        saving the test.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 col-xs-12 control-label">Category</label>
                        <div class="col-md-6 col-xs-12" ng-class="{'has-error': !test.QCategoryId }">
                            <select name="testCategory" class="form-control"
                                    ng-options="category.Id as category.Name for category in categories"
                                    ng-model="test.QCategoryId" ng-change="setSubcategories(test.QCategoryId)" required></select>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-3 col-xs-12 control-label">Subcategory</label>
                        <div class="col-md-6 col-xs-12" ng-class="{'has-error': !test.QSubcategoryId }">
                            <select name="testSubCategory" class="form-control" ng-disabled="!test.QCategoryId"
                                    ng-options="subCategory.Id as subCategory.Name for subCategory in subCategories"
                                    ng-model="test.QSubcategoryId"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Test Title</label>
                        <div class="col-md-6 col-xs-12" ng-class="{'has-error': !test.Name }">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" ng-model="test.Name" required/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Test Time (min)</label>
                        <div class="col-md-3 col-xs-12" ng-class="{'has-error': !test.Time }">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="number" class="form-control" ng-model="test.Time" min="1" required/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-repeat="question in test.Questions">
                        <label class="col-md-3 col-xs-12 control-label">Question {{$index + 1}}</label>
                        <div class="col-md-6 col-xs-12" ng-class="{'has-error': !question.Text }">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" ng-model="question.Text" required/>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12" ng-repeat="answer in question.Answers" ng-if="question.QTypeId === 1">
                            <label class="col-md-3 col-xs-12 control-label">{{answersIndexes[$index]}}.</label>
                            <div class="col-md-9 col-xs-12" id="answer.Id">
                                <label class="check" style="display: inline-flex;" ng-class="{'has-error': !answer.Answer }">
                                    <input type="radio" class="pick-answer" ng-model="singleAnswers[question.Guid]" name="Correct{{question.Guid}}" value="{{answer.Guid}}"/>
                                    <input type="text" class="form-control" ng-model="answer.Answer" required/>
                                </label>
                                <i class="glyphicon glyphicon-trash" ng-if="question.Answers.length > 3"
                                   ng-click="removeAnswer(question, $index)">
                                </i>
                                <button class="btn btn-primary" ng-if="$last && question.Answers.length < answersIndexes.length" style="margin-top: -11px;"
                                        ng-click="addAnswer(question)">
                                    [ + ]
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12" ng-repeat="answer in question.Answers track by $index" ng-if="question.QTypeId === 2">
                            <label class="col-md-3 col-xs-12 control-label">{{answersIndexes[$index]}}.</label>
                            <div class="col-md-9 col-xs-12">
                                <label class="check" style="display: inline-flex;" ng-class="{'has-error': !answer.Answer }">
                                    <input type="checkbox" class="pick-answer" ng-model="answer.Correct"/>
                                    <input type="text" class="form-control" ng-model="answer.Answer" required/>
                                </label>
                                <i class="glyphicon glyphicon-trash" ng-if="question.Answers.length > 3"
                                   ng-click="removeAnswer(question, $index)">
                                </i>
                                <button class="btn btn-primary" ng-if="$last && question.Answers.length < answersIndexes.length" style="margin-top: -11px;"
                                        ng-click="addAnswer(question)">
                                    [ + ]
                                </button>
                            </div>

                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Question Type</label>
                        <div class="col-md-3 col-xs-12" ng-class="{'has-error': !selectedQType }">
                            <select class="form-control select"
                                    ng-options="qType.Name for qType in qTypesList"
                                    ng-model="selectedQType">
                            </select>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <button class="btn btn-primary" ng-disabled="!selectedQType" ng-click="addQuestion()">[ + ]</button>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary pull-right" ng-disabled="testForm.$invalid || test.Questions.length < 5" ng-click="saveTest()">Save Test</button>
                </div>
            </div>
        </form>

    </div>
</div>                   