<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span> Gallery</h2>
        </div>
    </div>

    <!-- START CONTENT FRAME RIGHT -->
    <div class="content-frame-right">
        <h4>Categories:</h4>
        <div class="list-group border-bottom push-down-20">
            <div class="list-group-item cursor-pointer" ng-class="{'active': selectedCategory.Id === category.Id}"
                 ng-repeat="category in categories" ng-click="selectCategory(category)">{{category.Name}}<span class="badge badge-primary">{{category.TestsNo}}</span></div>
            <a class="pull-right cursor-pointer" ng-click="clearCategoryFilter()">Clear filter Category selection</a>
        </div>

        <div ng-if="selectedCategory">
            <h4>Subcategories:</h4>
            <div class="list-group border-bottom push-down-20">
                <div class="list-group-item cursor-pointer" ng-class="{'active': selectedSubCategory.Id === subCategory.Id}"
                     ng-repeat="subCategory in subCategories" ng-click="selectSubcategory(subCategory)">{{subCategory.Name}}<span class="badge badge-primary">{{subCategory.TestsNo}}</span></div>
                <a class="pull-right cursor-pointer" ng-click="selectCategory(selectedCategory)">Clear filter SubCategory selection</a>
            </div>
        </div>
    </div>
    <!-- END CONTENT FRAME RIGHT -->
    <!-- START CONTENT FRAME BODY -->
    <div class="content-frame-body content-frame-body-left">
        <div class="col-md-3 test-list-item" ng-repeat="test in filteredTests">
            <strong class="page-title"><h2 class="font-22"><span class="fa fa-file-text"></span> {{test.Name}}</h2></strong>
            <div>
                <a><span class="fa fa-tag"></span> {{test.CategoryName}} </a>
                <a><span class="fa fa-tag"></span> {{test.SubcategoryName}} </a>
            </div>
            <div>{{test.Time}} minute(s)</div>
            <div>{{test.QuestionsNo}} questions</div>
            <button class="btn btn-success pull-right" title="Take test" ng-click="takeTest(test)"><i class="fa fa-play"></i></button>
        </div>
    </div>
    <!-- END CONTENT FRAME BODY -->
</div>